/* Global */

body { 
    background: grey;

    
    img {
width: 25%;
} 

/* Layout */

/* Typography */

/* Navigation */
a { 
    background: red;
    text-decoration: none;
    
    display: inline-block; 
    height: 100px
    weidth: 100px 
          
li {
    display: inline; 
}

h1 {
    color: blue;
    text-transform: uppercase;
    letter-spacing: 4px;
}

p { 
    background: red;
    border: 10px double black;

    padding: 20px;
    width: 100px;
}

/* Typography */